<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
  <div class="container-fluid">
    <a>
      <%= image_tag 'marokkotravelconnection-logo.png' %>
    </a>
    <%= link_to 'Home', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', home_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to 'Tour Packages', home_tourpackages_path, class: "nav-link dropdown-toggle", role: "button", data: { bs_toggle: "dropdown" }, aria: { expanded: "false" } %>
          <ul class="dropdown-menu">
            <li><%= link_to 'Experiences', home_experiences_path, class: 'dropdown-item' %></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to 'Reviews', home_reviews_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Blog', home_blog_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Über Uns', home_uberuns_path, class: "nav-link active" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kontakt
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'FAQS', home_faqs_path, class: 'dropdown-item' %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <nav class="navbar bg-body-tertiary">
    <%= button_to "Reisenplanung starten", home_reisenplanungstarten_path, method: :post, class: "btn btn-sm btn-outline-secondary" %>
    <% if @response.present? %>
      <p><%= @response %></p>
    <% end %>
  </nav>
</nav>
